* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fefbd8;
	font-family:  sans-serif;
}



header{
    width:100%;
    overflow: hidden;
    background: #b2ad7f;
    margin-bottom: 20px;
    font-family: sans-serif;
    max-width: 1600px;
}

.centrado{
    width:90%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

header .logo{
    color: #FDFEFF;
    font-size: 60px;
    line-height: 60px;
    float: left;
    position:relative;
    margin-top: 20px;
}
header .logoD{
    color:#FDFEFF;
    font-size: 20px;
    top:105px;
    line-height: 70px;
    float: inline-start;
    position: absolute;
}


header nav{
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    padding:10px 20px;
    color:#FDFEFF;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
}

header nav a:hover{
    background: #f4e1d2;
    border-radius: 50px;
    color:#b2ad7f;
}



.center img{
    width: 400px;
    float: right;
    padding:120px;
}



footer{
    width: 100%;
    background:#b2ad7f;
    color: white;   
    font-family: sans-serif;
    
}


.container-footer-all{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 40px;
}

.container-cuerpo{
    display: flex;
    justify-content: space-between;
    min-width:1300px;
    margin-left: 0;
}

.columna1{
   max-width: 350px;
}

.columna1 .columna2 .columna3 h1{
    font-size: 30px;
    color: white;
}

.columna1 p{
    font-size: 20px;
    margin-top: 20px;
    color:#f2f2f2;
}
.columna2{
    max-width: 500px;
}

.fila{
    margin-top: 20px;
    display:flex;
}

.fila img{
    width: 36px;
    height: 36px;
}

.fila a{
    margin-top: 10px;
    margin-left: 20px;
    color:#f2f2f2;
    font-size: 20px;
    text-decoration: none;
}

.columna3{
    max-width: 500px;
 }
 

 .filacontacto{
     margin-top: 20px;
     display: flex;
 }
 .filacontacto img{
    width: 36px;
    height: 36px;;
}

.filacontacto a{
    margin-top: 10px;
    margin-left: 20px;
    color:#f2f2f2;
    max-width: 350px;
    font-size: 20px;
    text-decoration: none;
}
.filacontacto label{
    margin-top: 10px;
    margin-left: 20px;
    color:#f2f2f2;
    max-width: 350px;
    font-size: 20px;
}
 




/*boton para subir arriba de todo*/

.Volver-arriba{
    position: fixed;
    right:16px;
    bottom: 16px;
    display: block;
    background:  #e06377;
    color:white;
    padding: 4.8px 16px;
    transition: all 0.5s linear;
    cursor: pointer;
    opacity:0.3;
    border-radius: 8px;
}

.Volver-arriba:hover{
    opacity:1;
}




/*Estilo de la tarjeta de banco.*/
.contenedor {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.activar {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Adelante ----------*/

.tarjeta .adelante {
	width: 100%;
	background: url(background.jpg);
	background-size: cover;
}

.adelante .logo-marca {
	text-align: right;
	min-height: 50px;
}

.adelante .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.adelante .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.adelante .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.adelante .grupo .numero,
.adelante .grupo .nombre,
.adelante .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
    margin-bottom: 10px;
}

.adelante .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* ---------- Tarjeta Atras ----------*/
.atras {
	background: url(background.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.atras .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.atras .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.atras .datos p {
	margin-bottom: 5px;
}

.atras .datos #firma {
	width: 70%;
}

.atras .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.atras .datos #firma .firma p {
	line-height: 40px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.atras .datos #cvv {
	width: 20%;
}

.atras .datos #cvv .cvv {
	background: #fff;
	height: 40px;
	color: black;
    font-size: 20px;
	padding: 10px;
	text-align: center;
}

.atras .leyenda {
	font-size: 14px;
	line-height: 24px;
    margin-bottom: 10px;
}

.atras .link-banco {
	font-size: 14px;
	color: #fff;
    margin-top: 14px;
}



/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
	background: white;
    border-color: #b2ad7f;
    border-style: dashed;
	width: 100%;
	max-width: 700px;
	padding: 200px 30px 30px 30px;
	border-radius: 10px;
    position:relative;
    top:-150px;
}


.formulario-tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.boton-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 3px solid #b2ad7f;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
}

.formulario-tarjeta input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .cvv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}

.formulario-tarjeta select {
	-webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .boton-enviar {
	border: none;
	padding: 10px;
	font-size: 22px;
	color: black;
    font-weight: bold;
	background: #e06377;
    border-color:#f14b67 ;
    border-style: solid;
    opacity:0.7;
	cursor: pointer;
}

.formulario-tarjeta .boton-enviar:hover {
	opacity:1;
    color:white
}